nav.navbar {
    background-image: linear-gradient(to right, #0d5460, #007586);
    color: white;
}

nav.navbar .nav-link {
    color: #fff;
    margin-right: 1rem;
    font-weight: 500;
}

nav.navbar .nav-link:hover {
    color: #00bcd4;
}

nav.navbar .btn-outline-light {
    border: 2px solid #00bcd4;
    color: #00bcd4;
    font-weight: bold;
}

nav.navbar .btn-outline-light:hover {
    background-color: #00bcd4;
    color: white;
}

.carousel-item video {
    height: 500px;
    object-fit: cover;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.font-header {
    font-family: "Poppins";
}