<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section brand">
            <span style="font-weight: bold; font-size: 1.8rem;">DESIGN</span>
            <span><span style="color: #00bcd4; font-size: 22px;" >HEALTHCARE</span></span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
  
        <div class="footer-section links">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Leadership</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">News & Articles</a></li>
            <li><a href="#">Legal Notice</a></li>
          </ul>
        </div>
  
        <div class="footer-section support">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Ticket Support</a></li>
          </ul>
        </div>
  
        <div class="footer-section contact">
          <h4>Head Office</h4>
          <p>Jl. Cempaka Wangi No 22, Jakarta - Indonesia</p>
          <p>Email: support&#64;yourdomain.tld</p>
          <p>Phone: +62 (21) 2002-2012</p>
          <p>Monday 07.00 AM - 12.00 PM Sunday</p>
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>Copyright © 2025 Fiza Healthcare. All rights reserved. Present by YourBrand.</p>
        <ul class="footer-links">
          <li><a href="#">Term of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
  