<div class="exterior-container" *ngIf="exteriorData">
  <div class="image-wrapper">
    <img [src]="exteriorData.image" alt="{{ exteriorData.name }}" class="exterior-image" />
    <div class="button-container">
      <button [routerLink]="['/home']">🏠</button>
      <button (click)="loadData(6)">C Section</button>
      <button (click)="loadData(7)">D Section</button>
      <button (click)="loadData(11)">360 VIEW</button>
      <button>EXIT</button>
    </div>
  </div>
  <div class="text-container" style="padding-top: 10px;">
    <h2>{{ exteriorData.name }}</h2>
    <p style="text-align: justify;">{{ exteriorData.description }}</p>
  </div>
</div>

<!-- Show error if no data is available -->
<div *ngIf="!exteriorData" class="error-message">
  <p>Data not found. Please check if the JSON file is loaded correctly.</p>
</div>
