# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Test coverage
coverage/

# Ignore specific config files
.editorconfig
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
