.exterior-container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;

}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.exterior-image {
  width: 100%;
  max-width: 1200px; /* Wider image */
  display: block;
  border-radius: 10px;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.button-container button {
  background-color: #0d5460;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
  transition: 0.3s;
}

.button-container button:hover {
  background-color: #435d96;
}

.card {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
